[Desktop Entry]
Type=Application
Version=1.0
Name=Aurora
Comment=GameStream client for LG webOS and desktop
Exec=moonlight-tv
Icon=moonlight-tv
Terminal=false
Categories=Game;RemoteAccess